<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Clash Of Clubs{% endblock %}</title>
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />
    {% endblock %}
    {% block header %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
{% endblock %}
{% block js %}{% endblock %}
</body>

</html>
